<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learnhub.promotion.mapper.CouponScopeMapper">


    <insert id="saveCouponScopes">
        insert into coupon_scope(coupon_id, biz_id, type)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.couponId}, #{item.bizId}, #{item.type})
        </foreach>
    </insert>

    <select id="queryCouponScopesByCouponId" resultType="com.learnhub.promotion.domain.po.CouponScope">
        select *
        from coupon_scope
        where coupon_id = #{id}
    </select>
</mapper>
