<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learnhub.user.mapper.UserDetailMapper">
    <select id="queryUserDetailById" resultType="com.learnhub.user.domain.po.UserDetail">
        SELECT u.cell_phone,
               u.status,
               u.create_time,
               u.update_time,
               u.creater,
               u.updater,
               u.id,
               u.username,
               ud.type,
               ud.name,
               ud.gender,
               ud.icon,
               ud.email,
               ud.qq,
               ud.birthday,
               ud.job,
               ud.province,
               ud.city,
               ud.district,
               ud.intro,
               ud.photo,
               ud.role_id
        FROM `user` u
                 LEFT JOIN user_detail ud ON u.id = ud.id
        WHERE u.id = #{userId}
    </select>

    <select id="queryUserRoleIdById" resultType="java.lang.Long">
        select role_id
        from user_detail
        where id = #{id}
    </select>

    <insert id="saveUserDetail">
        insert into user_detail(id,
                                type,
                                name,
                                gender,
                                icon,
                                email,
                                qq,
                                birthday,
                                job,
                                province,
                                city,
                                district,
                                intro,
                                photo,
                                role_id)
        values (#{id},
                #{type},
                #{name},
                #{gender},
                #{icon},
                #{email},
                #{qq},
                #{birthday},
                #{job},
                #{province},
                #{city},
                #{district},
                #{intro},
                #{photo},
                #{roleId})
    </insert>

    <select id="queryUserDetailByIds" resultType="com.learnhub.user.domain.po.UserDetail">
        select u.cell_phone,
        u.status,
        u.create_time,
        u.update_time,
        u.creater,
        u.updater,
        u.id,
        u.username,
        ud.type,
        ud.name,
        ud.gender,
        ud.icon,
        ud.email,
        ud.qq,
        ud.birthday,
        ud.job,
        ud.province,
        ud.city,
        ud.district,
        ud.intro,
        ud.photo,
        ud.role_id
        from `user` u
        left join user_detail ud on u.id = ud.id
        where u.id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="queryUserByName" resultType="com.learnhub.api.dto.user.UserDTO">
        select u.id,
               u.username,
               u.cell_phone,
               u.password,
               u.status,
               u.type,
               ud.name,
               ud.gender,
               ud.icon,
               ud.email,
               ud.qq,
               ud.birthday,
               ud.job,
               ud.province,
               ud.city,
               ud.district,
               ud.intro,
               ud.photo,
               ud.role_id
        from `user` u
                 left join user_detail ud on u.id = ud.id
        where u.username = #{username}
    </select>

    <select id="queryUserDetailByPage" resultType="com.learnhub.user.domain.po.UserDetail">
        select u.cell_phone,
        u.status,
        u.create_time,
        u.update_time,
        u.creater,
        u.updater,
        u.id,
        u.username,
        ud.type,
        ud.name,
        ud.gender,
        ud.icon,
        ud.email,
        ud.qq,
        ud.birthday,
        ud.job,
        ud.province,
        ud.city,
        ud.district,
        ud.intro,
        ud.photo,
        ud.role_id
        from `user` u
        left join user_detail ud on u.id = ud.id
        <where>
            <if test="name != null and name != ''">
                and u.username like concat('%', #{name}, '%')
            </if>
            <if test="phone != null and phone != ''">
                and u.cell_phone = #{phone}
            </if>
            <if test="status != null">
                and u.status = #{status}
            </if>
            <if test="userType != null">
                and ud.type = #{userType}
            </if>
        </where>
    </select>
</mapper>
